@font-face {
  font-family: "iconfont"; /* Project id 4976885 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_4976885_0s6xfe7gnie.woff2?t=1752829002458') format('woff2'),
       url('//at.alicdn.com/t/c/font_4976885_0s6xfe7gnie.woff?t=1752829002458') format('woff'),
       url('//at.alicdn.com/t/c/font_4976885_0s6xfe7gnie.ttf?t=1752829002458') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuyanban:before {
  content: "\e684";
}

.icon-Githubzhanghao:before {
  font-size: 20px;
  content: "\e601";
}

.icon-iconkuozhan_fenleipre:before {
  content: "\e60b";
}

.icon-fenxiang1:before {
  content: "\e602";
}

.icon-bowenzhuti:before {
  content: "\e63d";
}

.icon-shenghuo:before {
  content: "\e75a";
}

.icon-youlian:before {
  content: "\e600";
}

.icon-a-homezhuyefangzijia:before {
  content: "\e6ae";
}

.icon-yingshi1:before {
  content: "\e607";
}

.icon-biaoqian:before {
  content: "\e6bb";
}

.icon-guanyuwomen:before {
  content: "\e634";
}

.icon-xiangce:before {
  content: "\e604";
}

.icon-guidang:before {
  content: "\eca6";
}

.icon-a-Sheetmusic:before {
  content: "\e73a";
}
