@font-face {
  font-family: "iconfont"; /* Project id 4976885 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_4976885_ikw0426twb.woff2?t=1752811499472') format('woff2'),
       url('//at.alicdn.com/t/c/font_4976885_ikw0426twb.woff?t=1752811499472') format('woff'),
       url('//at.alicdn.com/t/c/font_4976885_ikw0426twb.ttf?t=1752811499472') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Githubzhanghao:before {
  content: "\e601";
}

.icon-guanyuwomen1:before {
  content: "\e619";
}

.icon-iconkuozhan_fenleipre:before {
  content: "\e60b";
}

.icon-fenxiang1:before {
  content: "\e602";
}

.icon-bowenzhuti:before {
  content: "\e63d";
}

.icon-shenghuo:before {
  content: "\e75a";
}

.icon-youlian:before {
  content: "\e600";
}

.icon-xiangce1:before {
  content: "\ffc4";
}

.icon-a-homezhuyefangzijia:before {
  content: "\e6ae";
}

.icon-liuyanban1:before {
  content: "\e64d";
}

.icon-yingshi1:before {
  content: "\e607";
}

.icon-biaoqian:before {
  content: "\e6bb";
}

.icon-guidang:before {
  content: "\eca6";
}

.icon-a-Sheetmusic:before {
  content: "\e73a";
}
